
.btn {
  margin: 1em;
  padding: 1em;
  border: 2px solid black;
}

.blue {
  background-color: lightblue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: pink;
}
.white {
  background-color: white;
}
