/* You can add global styles to this file, and also import other style files */

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-top: 0px;
}

#btn-container {
  border: 2px solid black;
  background-color: white;
  display: grid;
  grid-template-areas:
    "btn btn"
    "btn btn";
}
